/* Importing Links */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* adding universal styles */
*{
    font-family: "Fira Sans", serif;
    margin: 0;
}
body{
    background-color: #F1F1F3;
}
/* Navbar Styles Starts Here */
.navBar{
    width: 1536px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webLogo{
    font-size: 40px;
}
.btnOutline{
    color: #006A50;
    background-color: transparent;
    height: 62px;
    width: 139px;
    font-size: x-large;
    font-weight: 500;
    border: 2px solid #006A50;
    border-radius: 9px;
}
/* Hero Styles Starts Here */
.hero{
    width: 1536px;
    height: 672px;
    background-color: #C6E4D6;
    margin: 50px auto;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    
}
.heroSubHeading{
    font-size: 29px;
    font-weight: 500;
    opacity: 50%;
}
.heroHeading{
    font-size: 67px;
    margin: 20px 0;
}
.btnPrimary{
    font-size: 21px;
    color: white;
    background-color: #006A50;
    padding: 20px 40px;
    border: none;
    border-radius: 9px;
    font-weight: 500;
}
.heroImg{
    width: 568px;
    height: 480px;
}
/* pillarContainer Styles Starts Here */
.pillarContainer{
    width: 1536px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.pillarHead{
    font-size: 48px;
}
.pillarCardsContainer{
    display: flex;
    justify-content: space-between;
}
.pillarCard{
    width: 300px;
    height: 230px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background-color: white;
    border: 1px solid rgba(92, 91, 91, 0.199);
}
.pillarCardHeading{
    font-size: 24px;
    font-weight: bold;
    opacity: 80%;
}
.pillarImg{
    width: 77px;
}
.pillarCardDes{
    font-size: 19px;
    opacity: 80%;
    max-width: 300px;
}

/* Vision Section Styles Starts Here */
.visionContainer{
    width: 1536px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.visionDetails{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.visionHeading{
    font-size: 48px;
}
.visionDes{
    font-size: 19px;
    opacity: 80%;
}
.visionCardsContainer{
    display: flex;
    justify-content: space-between;
}
.visionCard{
    width: 400px;
    height: 300px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
    border: 1px solid rgba(92, 91, 91, 0.199);
}
.visionImg{
    width: 77px;
}
.visionCardHeading{
    font-size: 24px;
    font-weight: bold;
    opacity: 80%;
}
.visionCardDes{
    font-size: 19px;
    opacity: 80%;
}
.cardBtn{
    width: 150px;
    height: 50px;
    border-radius: 9px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    color: white;
    border: none;
}
/* Declaring Some Colors */
.lightBlue{
    background-color: rgba(84, 143, 245, 0.2);
}
.lightGreen{
    background-color: rgba(9, 161, 93, 0.2);
}
.lightBrown{
    background-color: #F7EBCF;
}
.blue{
    background-color: #5490F5;
}
.green{
    background-color: #09A15C;
}
.brown{
    background-color: #FFC239;
}

/* Quote Styles Starts Here */
.quote{
    width: 1456px;
    height: 307px;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    border-radius: 19px;
    border: 1px solid rgba(128, 128, 128, 0.355);
    
}
.quotePara{
    max-width: 1478px;
    font-size: 19px;
    opacity: 80%;
    padding: 30px 0;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}
.speaker{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.speakerName{
    font-size: 24px;
    font-weight: bold;
    opacity: 80%;
}
.speakerPost{
    font-size: 19px;
    opacity: 60%;
}
/* RecentNews Section Styles Starts Here */
.recentNewsHeading{
    width: 1536px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}
.recentNewsHead{
    font-size: 48px;
    
}
.recentNewsDes{
    font-size: 19px;
    opacity: 80%;
}
/* news cards styles starts here */
.newsCard{
    width: 1456px;
    height: 490px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    border-radius: 29px;
    padding: 10px 40px;
}
.newsImg{
    width: 524px;
    border-radius: 29px;
}
.newsDes{
    max-width: 928px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newsHead{
    font-size: 38px;
    opacity: 80%;
}
.publisherLogo{
    width: 160px;
}
.publishedAt{
    font-size: 19px;
    opacity: 60%;
    display: flex;
    justify-content: start;
    gap: 15px;
}
.news{
    font-size: 19px;
    opacity: 60%;
}
.newsBtn{
    width: 166px;
    font-size: 21px;
    color: white;
    background-color: #006A50;
    padding: 20px 10px;
    border: none;
    border-radius: 9px;
    font-weight: 500;
}
.reversedTemplate{
    flex-direction: row-reverse;
}
/* Donate Section Styles Starts Here */
.donetContainer{
    width: 1536px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.donateHead{
    font-size: 48px;
}
.donateDes{
    max-width: 1300px;
    font-size: 19px;
    opacity: 60%;
    text-align: center;
}
.amountContainer{
    display: flex;
    gap: 30px;
}
.amountCard{
    width: 288px;
    height: 153px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}
.amountCard> h2{
    font-size: 48px;
}
.activeCard{
    background-color: #C6E4D6;
}
.inputAmount{
    width: 1190px;
    height: 76px;
    text-align: center;
    font-size: 24px;
    border: none;
}
.donateNow{
    width: 166px;
    font-size: 21px;
    color: white;
    background-color: #006A50;
    padding: 20px 10px;
    border: none;
    border-radius: 9px;
    font-weight: 500;
}
/* Newsletter Styles Starts Here */
.newsletter{
    width: 1536px;
    height: 474px;
    margin: auto;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 29px;
}
.newsletterHead{
    font-size: 48px;
}
.newsletterDes, .promise{
    max-width: 720px;
    font-size: 19px;
    opacity: 60%;
    text-align: center;
}
.email{
    display: flex;
    gap: 0;
}
.inputEmail{
    width: 720px;
    height: 66px;
    text-align: center;
    font-size: 24px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 0;
}
.subscribe{
    width: 166px;
    font-size: 21px;
    color: white;
    background-color: #006A50;
    padding: 20px 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-weight: 500;
}
/* Footer Styles Starts Here */
footer{
    width: 100%;
    height: 271px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px auto 0;
}
.footHead{
    font-size: 38px;
}
.socialIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.186);
    width: 1346px;
    padding-top: 50px;
    gap: 25px;
}
.socialIcon{
    width: 28px;
    height: 28px;
}